﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Web


@{
    var projectImages = Umbraco.TypedContentAtRoot()
        .First()
        .Children()
        .First(x => x.DocumentTypeAlias == "projectItem")
        .Children()
        .Where(x => x.HasValue("projectImage") &&
                    Umbraco.GetPreValueAsString(
                        x.GetPropertyValue<int>("projectImage")) == "")
        .Where(x => x.IsVisible())
        .OrderByDescending(x => x.CreateDate).Take(4);       
}


@foreach (ProjectItem projectedImg in projectImages)
{
    if (projectedImg.HasProperty("ProjectImage"))
    {
        <div class="col-md-3 projectImg">
           
                <img alt="" class="img-responsive img-thumbnail" src="@projectedImg.ProjectImage.Url?width=600&height=auto" />
            
        </div>
    }
       

}

    
