﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Core.Models
@using Umbraco.Web
@using Umbraco.Web.PublishedCache


@{
   var newestProjectedCompleted = Umbraco.TypedContentAtRoot()
        .First()
        .Children()
        .First(x => x.DocumentTypeAlias == "projectsOverview")
        .Children()
        .Where(x => x.HasValue("projectsStatus") &&
                    Umbraco.GetPreValueAsString(
                        x.GetPropertyValue<int>("projectsStatus")) == "Completed")
        .Where(x => x.IsVisible())
        .OrderByDescending(x => x.CreateDate).Take(4);       
}


    @foreach (ProjectItem projectedCompleted in  newestProjectedCompleted)
    {
        if (projectedCompleted.HasProperty("ProjectThumbnail"))
        {
            <div class="col-md-3 projectImg">
                <a href="@projectedCompleted.Url">
                    <img alt="" class="img-responsive img-thumbnail" src="@projectedCompleted.ProjectThumbnail.Url?width=600&height=auto" />
                </a>
            </div>
        }
       

    }

    