﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Web

@{
    var root = Model.Content.Site();
    var menuSelection = root.Children.Where(x => x.IsVisible()).ToArray();
}

@if (menuSelection.Length > 0)
{
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">
        <img id="logo" src="~/media/1001/logo.png" alt="">
        vonCoding
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            @foreach (var menuItem in menuSelection)
            {
                if (menuItem.Children().Count(x => x.IsVisible()) > 0 && Members.GetCurrentLoginStatus().IsLoggedIn)
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="@menuItem.Url" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @menuItem.Name
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            @foreach (var subMenuItem in menuItem.Children().Where(x => x.IsVisible()))
                            {
                                if (subMenuItem.DocumentTypeAlias == "projectItem" )
                                {
                                    if (umbraco.library.GetPreValueAsString(subMenuItem.GetPropertyValue<int>("projectsStatus")) == "Completed")
                                    {
                                        <a class="dropdown-item" href="@subMenuItem.Url">@subMenuItem.Name</a>
                                    }
                                }
                            }
                        </div>
                    </li>
                }
                else
                {
                    <li class="nav-item @((menuItem.Name == Model.Content.Name) ? "active" : null)">
                        <a class="nav-link" href="@menuItem.Url">@menuItem.Name</a>
                    </li>
                }
            }
        </ul>
    </div>
</nav>
}
