body {
    font-family: 'Open Sans';
}

#logo {
   width:  100px;
   height: auto;
}

h1 {
    color: #fd7e14;
    font-weight: 600;
}

.jumbotron {
    background-color: #e3e3e3;
}

.full-width-image img {
    width: 100%;
}

.projectImg img {
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    margin-bottom: 20px;

    &:hover {
        filter: none; /* IE6-9 */
        -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
    }
}

.hide-bullets {
    list-style: none;
    margin-left: -40px;
    margin-top: 20px;
}

.thumb-sizer {
    width: 200px;
    height: auto;
}