﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.AboutMe>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}

<div class="container-fluid mb-5">
    @Html.GetGridHtml(Model.Content, "gridLayout")
</div>