﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ContactPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<div class="container-fluid">
    <h2 class="display-4">@Umbraco.Field("pageName")</h2>
    <hr class="my-4"/>

    @Html.Action("Index", "ContactFormSurface")
</div>