﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-1">@Model.Content.SiteTitle</h1>
        <p class="lead">@Model.Content.LeadText</p>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        @Umbraco.RenderMacro("listNewestProjects")
    </div>
</div>