﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.LoginPage>
@using Umbraco.Web.Controllers
@using Umbraco.Web.Models
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}


    <h2 class="display-4">@Umbraco.Field("pageName")</h2>
    <hr class="my-4"/>


    @if (!Members.GetCurrentLoginStatus().IsLoggedIn)
    {
        @Html.Partial("loginForm")
    }
    else
    {
        <p class="lead">
            You are currently logged is as
            @Members.GetCurrentLoginStatus().Name
        </p>
        var logoutModel = new PostRedirectModel();
        logoutModel.RedirectUrl = "/";
        using (Html.BeginUmbracoForm<UmbLoginStatusController>("HandleLogout"))
        {
            <button type="submit" class="btn btn-primary btn-lg input-medium pull-left">Logout</button>
            @Html.HiddenFor(m => logoutModel.RedirectUrl)
        }
    }
