﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Master>
@using System.Runtime.InteropServices.ComTypes
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="Description" content="@Model.Content.MetaDescription"/>
    <meta name="keywords" content="@Model.Content.MateTag"/>
    <title>@Umbraco.Field("pageName")  • @Umbraco.Field("siteTitle", recursive:true) • Webdeveloper </title>
    <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
</head>

<body>
    <div class="container-fluid">
        <header>
            @Umbraco.RenderMacro("mainMenu")
        </header>
    </div>
    
<div class="container-fluid">
            @RenderBody()
    </div>
    




    <script src="~/Scripts/jquery-3.0.0.slim.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/Scripts/custom.js"></script>
</body>
</html>
