﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ProjectItem>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using Umbraco.Web
@{
	Layout = "Master.cshtml";
}

@{
    var root = Model.Content.Site();
    var projectSelection = root.Children().Where(x => x.IsVisible()).ToArray();
}


<div class="container">
    <h2 class="display-4">@Model.Content.ProjectTitle</h2>  
</div><
<hr class="my-4"/>

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img class="img-thumbnail img-responsive" src="~/Media/1006/forside.png" />
            </div>
            <div class="col-sm-6">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis augue dui,
                    auctor quis egestas id, vestibulum eu orci. Etiam ultricies mollis commodo. Etiam sed felis eros. Integer viverra,
                    turpis vel dapibus sodales, lorem massa mattis ipsum, non auctor tellus erat et lorem. Aliquam aliquam justo turpis, eu hendrerit lorem congue in. Quisque porta placerat tortor,
                    ut congue odio aliquet eu. Sed eget dolor ligula. Curabitur efficitur suscipit ante in posuere. Suspendisse convallis, arcu in aliquam ultrices, orci elit placerat enim, a fermentum nunc purus sit amet mi.
                    Cras varius dui vitae ultricies sodales. Mauris commodo ut odio nec suscipit. Ut risus dolor, blandit a dignissim sed, convallis a orci.
                </p>
                
                <p>This project is: @umbraco.library.GetPreValueAsString(CurrentPage.GetPropertyValue<int>("projectsStatus"))</p>
                
               

</div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <ul class="list-inline hide-bullets">
                    <li class="list-inline-item col-sm-2">
                        <img  class="img-thumbnail img-responsive" src="~/Media/1009/pakker.png" />
                    </li>
                    <li class="list-inline-item col-sm-2">
                        <img class="img-thumbnail img-responsive" src="~/Media/1004/bokse.png" />
                    </li>
                    <li class="list-inline-item col-sm-2">
                        <img class="img-thumbnail img-responsive" src="~/Media/1005/boetter.png" />
                    </li>
                    <li class="list-inline-item col-sm-2">
                        <img class="img-thumbnail img-responsive" src="~/Media/1007/kontakt.png" />
                    </li>
                    <li class="list-inline-item col-sm-2">
                        <img class="img-thumbnail img-responsive" src="~/Media/1008/omos.png" />
                    </li>
                </ul>
            </div>
        </div>
    </div>


